.cartShape{
    color: #495057;
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
    background:#fff;
    border-radius: 4px;
    box-shadow: 0 1px 12px 0 rgb(0, 0, 0.2);
    cursor: pointer;
}
    .card-body{
        background-color: #fff;
        color: #495057;
        border-radius: 4px;
        box-shadow: 0 10px 12px 0 rgb(0, 0, 0.2);

    }

    .cartShape:hover{
        box-shadow: 0 14px 14px 0 rgb(0, 0, 0.4);
    }

